.pagosTarjeta{
    border-top: #e2e2e2 1px solid;
    margin-top: .8em;
}
.card-body{
    display: flex;
    justify-content: space-between;
    font-family: 'Cairo', sans-serif;
}
.contenedor-footer{
    padding: 1em 0;
    color:whitesmoke;
    font-family: 'Cairo', sans-serif;
}
.copyRight{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagarCopyright{
    font-family: 'Cairo', sans-serif;
}
.fb-page{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 425px){
    .copyRight{
        font-size:0.5em;
    }
    .contenedor-footer{
        padding: 1em 1em;
    }
}