.pagosTarjeta{
    border-top: #e2e2e2 1px solid;
    margin-top: .8em;
}
.card-body{
    display: flex;
    justify-content: space-between;
    font-family: 'Cairo', sans-serif;
}
.contenedor-footer{
    padding: 1em 0;
    color:whitesmoke;
    font-family: 'Cairo', sans-serif;
}
.copyRight{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Copyright{
    font-family: 'Cairo', sans-serif;
}
.fb-page{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 425px){
    .copyRight{
        font-size:0.5em;
    }
    .contenedor-footer{
        padding: 1em 1em;
    }
    
}
@media screen and (min-width: 768px){
    .contenedor-section{
        display: flex;
        flex-direction: column;
    }
    
    .fb-page{
        justify-content: flex-end;
        padding: 1em 0;
    }
    .Copyright{
        text-align: center;
    }
    .fb-laptop{
        display: flex;
        justify-content:center
    }
      
}
@media (min-width:300px) and (max-width: 767px){
    .copyRight{
        font-size: 0.7em;
    }
    .fb-page{
        justify-content: center;
        padding-top: 1em;
    }

    .fb-laptop{
        display: none;
    }
    .Copyright{
        text-align: center;
    }  
}