body{
    background-color: #f1f1f1a6;
}

a:hover{
    text-decoration: none;
}

.header{
    height: 5em;
    width: 100%;
    background-color: #181818;
    display: flex;     
    padding: 1em;
    align-items: center;
    box-shadow: rgb(150,150,150) 0px 3px 5px;
}

.d-flexo{
    justify-content: center;
    display: contents;
    align-items: center;
}

ul li a{
    color:whitesmoke;
}

.col{
    padding: 0px;
}

.titulo{
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;    
    font-size: 3em;
    text-align:center;
    align-items: center;
    width: max-content;
}

.header .itemsNav{
    display: flex;
    list-style:none ;
    font-family: Oswald;
    height: auto;
    width: 100%;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content:flex-end;
    background-color:#181818 ;
}

.imglogo{
    height: auto;
    width: 3em;
}

.itemsNav li a{
    list-style: none;
    padding: 0.4em 0.6em;
    text-align:center;
    border-right: solid 0.1em whitesmoke;
}

@media screen and (max-width: 768px){
    .header{
        height: 6em;
        width: 100%;   
        padding: 1em;
        align-items: center;
        box-shadow: rgb(150,150,150) 0px 3px 5px;
    }

    .d-flexo{
        justify-content: center;
        display: contents;
        align-items: center;
    }

    .header .itemsNav{
        font-size: 1em;
    }

    .titulo{
        font-size: 3em;
    }
}

.navbar{
    background-color: #181818;
    padding:0px;
}

.navbar-item{
    padding: 0px
}

a.col-3{
  padding-left: 0px;
  flex: 0 0 15%;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}