.naveg{
    margin: 0.8em 0;
    color: whitesmoke;
    align-items: center;
    font-size: 1em;
}
.row{
    display: flex;
}
.ubicacion{
    display: flex;
    align-items: center;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}

.direccion{
    margin-left: 0.4em
}
.user{
    margin-right: 0.4em;
}

.btn-outline-success{
    color: #047c7c;
    border-color:#047c7c;
}
.btn:not(:disabled):not(.disabled) {
    display: flex;
}
.btn-outline-success:hover{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #047c7c;
    border-color: #047c7c;
}
.far .fa-search{
    color:#047c7c
}

.carousel{
    height: 25em;
    width: auto;
    justify-content: center;
    margin: 1em;
    display: flex;
}
.fondo-carousel{
    background-color: #047c7c;    
    align-items: center;
}
.carousel.item{
    align-items: center;
}

@media (max-width: 417px){
    .form-inline .form-control{
        width:9em;
        height: 2em;
    }
    .btn-outline-success{
        width:auto;
        height: 2em;
    }
}
@media (min-width:417px) and (max-width:633px){    
    .form-inline .form-control{
        width:11em;
        height: 2em;
    }
    .btn-outline-success{
        width:auto;
        height: 2em;
    }
}

@media screen and (max-width: 768px){
    .direccion{
        display:none
    }
    .usuario{
        display: none;
    }
    .btn-outline-success{
        
        align-items: center;
        justify-content: center;
    }
    
}

@media (min-width: 768px){
    .form-inline .form-control{
        width:20em
    }
}

@media (min-width: 1180px){
    .form-inline .form-control{
        width:30em;
    }
}
@media screen and (max-width: 724px){
    .direccion{
    display: none;
    }
    .usuario{
        display:none
    }
}