.col-2{
    display: flex;
    justify-content: center;
    border-radius: .3em;
}

.contenedor-section{
    border-radius: 0.2em;
    background-color: #fff;
    border: #e2e2e2 1px solid;
    padding: 1em

}
.producto{
    margin:5px;
    border-radius: .3em;
    box-shadow: rgb(150,150,150) 0px 3px 5px;
    color: whitesmoke;
    
}
.gusto{
     background-color: #07a1a1;
     justify-content: center;
     display: flex;
     padding: 0.2em     
}

.populares{
    height: 2em;
    background-color: #181818 ;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: whitesmoke;
    
}
.product1{    
    
    width:100%;
    height: 10em;
}

.nombre-producto{
    display: flex;
    background-color: #181818;
    justify-content: center;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    box-shadow: rgb(150,150,150) 0px 3px 5px;
}
.info{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-align: center;
}
.cantidad{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: center;
}
.precio{
    color: whitesmoke;    
    font-size: 1.3em;
    background-color: #c71e08;
    text-align: center;
}
.boton-info{
    height: auto;
    width: 50%;
    background-color: #181818;
    font-family: 'Source Sans Pro', sans-serif; 
    color: whitesmoke;
    border-bottom-left-radius: 0.3em;
}
.boton-comprar{
    height: auto;
    width: 50%;
    
    background-color: #181818;
    font-family: 'Source Sans Pro', sans-serif; 
    color: whitesmoke;
    border-bottom-right-radius: 0.3em;
    overflow: hidden;
}
.botonera{
    display: flex;
    height: 2em;
    align-items: flex-end;
}
.linea{
    position:absolute;
    width: auto;
    height: 3em;
    left: 7.5em;
    top: 10em;
    z-index: 1;
}
.lineaNoble{
    position:absolute;
    width: auto;
    height: 3em;
    left: 8em;
    top: 10em;
    z-index: 1;
}
